$sidebar_width: 175px;

#home-container {
  display: flex;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;

  .sidebar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: $sidebar_width;

    .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }
  }

  #page-content-wrapper {
    min-width: calc(100vw - #{$sidebar_width});
    background-color: #495054;
  }
}
